#pragma once

#define WIFI_SSID     "your-wifi-ssid"
#define WIFI_PASSWORD "your-wifi-password"

#define CALENDAR_URL                                                           \
  "https://script.google.com/macros/s/"                                        \
  "YOUR_SCRIPT_ID/"                                                             \
  "exec"
